/* *************************************** */
/*           STYLE DE MON CV               */
/* *************************************** */

/* Style par balises */
body {
	background-image: url("img/SHIELD.png"); 
	background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 

}
header {
	margin-bottom: 70px;
}
h1 {
	text-align:center;
	font-size: 4em;
	font-family:top_secretbold, Arial, sans-serif;
}
figure {
	float: right;
	margin-top: 0;
}
h2 {
	text-align:center;
	color:brown;
	border: 5px #C64119 groove;
}
a img {
	border-radius: 10px;
}
a img:hover {
	box-shadow: 10px 10px 3px #2A5EB2;
}
li {
	text-align: justify;
}
ol li {
margin-bottom:15px;
}
footer {
	margin: 15px;
}


/* Style par classes */

.top_secret {
	font-family:top_secretbold, Arial, sans-serif;
	text-align:center;
}
.align-vertical {
	display: inline-block;
	vertical-align: middle;
}
.nav:hover{
	color: #0F3596;
}
.nav_top {
	font-size: 0.5em;
	color: #CCDBFF;
}
.nav_top:hover{
	color: #8DABF8;
}
.section {
	display: inline-block;
    vertical-align: top;
	margin: 5px;
}
.part1, .part2, .part3{
	width:32%;
}

/* Style par id */
#liseret {
	display: inline-block;
    vertical-align: top;
	position: fixed;
	width: 6%;
	margin: 2% 2% 2% -10px;
	height: 90%;
	background-color: #000000;
	box-shadow: 10px 10px 3px #2A5EB2;
	border-radius: 0 20px 20px 0;
	
}
#liseret:hover {
	background: url('img/captain_america.png') no-repeat top center, url('img/iron_man.png') no-repeat bottom center;
	box-shadow: 10px 10px 3px #000000; 
}
#in_liseret {
	width: 25px;
	font-size:3em;
	color: grey;
	word-wrap: break-word;
	padding-top: 100px;
	margin: auto;
}
#warper {
	display: inline-block;
    vertical-align: top;
	width: 90%;
	margin-left: 10%;
	padding-left: 10px;
}
#nav {
	background-color: #CAD4EE;
}

#carte {
	text-align: center;
}
#carte img {
	box-shadow: 10px 10px 3px #000000;
	
}
#carte img:hover {
	box-shadow: 15px 15px 3px #000000;
	
}


