/* *************************************** */
/*           STYLE DE MON CV               */
/* *************************************** */

/* -------------------
/*    GLOBAL
/* -------------------


/* Style par balises */
body {
	background-image: url("img/SHIELD.png"); 
	background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 

}
header {
	margin-bottom: 70px;
}
h1 {
	text-align:center;
	font-size: 4em;
	font-family:top_secretbold, Arial, sans-serif;
}
figure {
	float: right;
	margin-top: 0;
}
h2 {
	text-align:center;
	color:brown;
	border: 5px #C64119 groove;
}
a img {
	border-radius: 10px;
}
a img:hover {
	box-shadow: 10px 10px 3px #2A5EB2;
}
li {
	text-align: justify;
}
ol li {
margin-bottom:15px;
}
footer {
	margin: 15px;
}


/* Style par classes */

.top_secret {
	font-family:top_secretbold, Arial, sans-serif;
	text-align:center;
}
.align-vertical {
	display: inline-block;
	vertical-align: middle;
}
.nav {
	font-size: 1.5em;
	color: #FFFFFF;
}
.nav:hover{
	color: #0F3596;
}
.nav_top {
	font-size: 0.5em;
	color: #CCDBFF;
}
.nav_top:hover{
	color: #8DABF8;
}
.section {
	display: inline-block;
    vertical-align: top;
	margin: 5px;
}


/* Style par id */

#warper {
	display: inline-block;
    vertical-align: top;
}

#carte {
	text-align: center;
}
#carte img {
	box-shadow: 10px 10px 3px #000000;
	
}
#carte img:hover {
	box-shadow: 15px 15px 3px #000000;
	
}

/* ------------------------------- */
/*    STYLE GRD ECRANS :  > 1024px */
/* ------------------------------- */


@media all and (min-width: 1024px){

.cache_ecran_XL {
	display: none;
}
.part1, .part2, .part3{
	width:32%;
}


#warper {
	width: 90%;
	margin-left: 9%;
	padding-left: 10px;
}

#liseret {
	display: inline-block;
    vertical-align: top;
	position: fixed;
	width: 6%;
	margin: 2% 2% 2% -10px;
	height: 90%;
	background-color: #000000;
	box-shadow: 10px 10px 3px #2A5EB2;
	border-radius: 0 20px 20px 0;
	
}
#liseret:hover {
	background: url('img/captain_america.png') no-repeat top center, url('img/iron_man.png') no-repeat bottom center;
	box-shadow: 10px 10px 3px #000000; 
}
#in_liseret {
	width: 25px;
	font-size:3em;
	color: grey;
	word-wrap: break-word;
	padding-top: 100px;
	margin: auto;
}

#nav {
	display: none;
}
}
/* ---------------------- */
/*    STYLE TABLETTES     */
/* ---------------------- */

@media all and (max-width: 1024px){

table {
	width:100%;
}
section p{
	padding-left: 35px;
	padding-right: 55px;
}
section ul, section ol {
	padding-left: 55px;
	padding-right: 35px;
}

.part1, .part2, .part3{
	width:100%;
}

#warper {
	width: 90%;
	margin-left: 5%;
	padding-left: 10px;
}

#liseret{
	display: none;
}

#nav {
	background-color: #CAD4EE;
	padding-left: 30px;
	border-radius: 8px;
}
}

/* ---------------------- */
/*    STYLE smartphone     */
/* ---------------------- */

@media all and (max-width: 760px){

h1 {
	font-size: 3em;
}
}
